*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

.container{
    width: 40%;
    min-width: 250px;
    background-color: #333;
    color: #eee;
    margin: 10px auto;
    padding: 20px;
}

.main-aside{
    width: 40%;
    margin: auto;
    text-align: center;
}

.main-aside ul{
    list-style: none;
}

.main-aside ul a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
    text-transform: capitalize;
}

.main-aside ul a:hover{
    color: red;
}

.main-aside ul a:visited{
    color: green;
}

/* form */

.main-form{
    width: 25%;
    min-height: 300px;
    border: 1px solid #443c50;
    margin: 12px auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 8px;
    background-color: #333;
}

.main-group label{
    display: block;
    margin: 4px 0;
    color: #eee;
}

.main-group input,
.main-group textarea{
    border: none;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    background-color: #443c50;
    font-weight: 500;
    font-size: 16px;
}

.main-group textarea{
    height: 100px;
}

input[type="submit"]{
    background-color: #17c208;
    padding: 4px;
    font-size: 16px;
    margin-top: 4px;
    border-radius: 8px;
    font-weight: 600;
    color: #eee;
}

.barrade_navegacao{
    display: flex;
    justify-content: center;
    background-color: red;
    gap:16px;
    position: sticky;
    top: 0;
}

.boxGrande{
    width: 40%;
    height: 800px;
}
