
:root{
    --cor-azulEscuro: #293145;
    --cor-azulClaro: #0F9AFE;
    --cor-texto: #6E7275;
    --fundo1: #EFF8FF;
    --container: 1096px;
    --fontemedio: 0.88rem;
    --fonteGrande: 1.5rem;
}

/* 135 - 1440 */
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* corpo global */
body{
    font-family: 'Sora', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
    font-size: var(--fontemedio);
}

.container{
    width: 100%;
    max-width: var(--container);
    margin: 0 auto;
}


/* componente */
.btn{
    display: block;
    padding: 1rem;
    background-color: var(--cor-azulClaro);
    border-radius: 50px;
    max-width: 200px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    box-shadow: 4px ​5px 8px -5px #0f9afe;
}

/* logo */
.logo{
    position: relative;
    display: flex;
    gap: 6px;
    align-items: center;
}

.logo div{
    width: 18px;
    height: 18px;
    position: relative;
}

.logo div span{
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    background-color: var(--cor-azulEscuro);
    border-radius: 50%;
}

.logo div span:nth-child(1){
    background-color: var(--cor-azulClaro);
}

.logo div span:nth-child(2){
    top:6px;
    left: 6px;
}

.logo h2{
    font-weight: 600;
    font-size: var(--fonteGrande) ;
    color: var(--cor-azulEscuro);
}

/* menu */
.menu ul{
    display: flex;
    list-style: none;
    gap: 66px; 
}

.menu ul a{
    text-decoration: none;
    color: var(--cor-texto);
    font-weight: 500;
}
/* banner */

.banner{
    background-color: var(--fundo1);
    height: 80vh;
    display: flex;
    align-items: center;
}

.banner div.banner_div{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.banner div.banner_div div{
    width: 50%;
}

div.banner_div div h1{
    line-height: 52px;
    color: var(--cor-azulEscuro);
    font-size: 2.8rem;
    margin-bottom: 3.125rem;
}

div.banner_div figure.img img{
    display: block;
    width: 90%;
}